# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
dist/
dist-ssr/
*.local

# Editor & OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test & coverage
coverage/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Do not track textbook PDFs or PPT slides in repo
Book/
Lectures/
